<article>
    <h1>BRANDON <span>BPWEB</span></h1>
    <p>Brandon be learning for 4 years as a Self-Taught UI/UX Designer, and he is from Washington DC but lives in Hyattsville, MD. He is looking to create meaningful projects that tell a story through design. He also wants to teach others about tech, design, and coding experience.</p>
    <p>He has had a lot of challenges being in his career, with trying to learn design on his own for the past 4 years and making the shift to coding 2 years back, then back to learning design again.</p>
    <p>His life was always challenging, due to having ADHD and a learning disability, with people telling him that he might need assistance and help with dealing with things in his life.</p> 
    <p>However, he kept proving everybody wrong. If you need help, use it, but if you keep pushing to learn new things every day, that will show people that you can deal with things on your own.</p> 
    <p>Outside of his love design and tech, Brandon spends his time enjoying being with family and friends, playing video games on Xbox One and PC, and taking photos of landscapes and nature with his Canon EOS Rebel T5 and love cooking different and healthy and exotic food.</p>
    <p>He is on a mission to build up his very own full-services digital marketing and advertising agency called AgencyOpt. If you want to help me build up my dream, please don’t be afraid to send an email or talk to me in the live chat.</p>

    <div class="social-media">
        <li><a href="mailto:brnadon.joshua.powell@gmail.com"><img src="/assets/img/Mail.png" alt="mail icons"></a></li>
        <li><a href="https://twitter.com/brandonpweb"><img src="/assets/img/Twitter.png" alt="twitter"></a></li>
        <li><a href="https://medium.com/bpweb"><img src="/assets/img/Medium.png" alt="medium"></a></li>
        <li><a href="https://instagram.com/bpweb" ><img src="/assets/img/Instagram.png" alt="instagram"></a></li>
        <li><a href="https://dribbble.com/bpweb"><img src="/assets/img/Dribbble.png" alt="dribbble"></a></li>
        <li><a href="https://behance.com/bpweb"><img src="/assets/img/Behance.png" alt="behance"></a></li>
        <li><a href="https://linkedin.com/in/bpweb"><img src="/assets/img/Linkedin.png" alt="dribbble"></a></li>
        <li><a href="https://github.com/brandonpowell"><img src="/assets/img/Github.png" alt="behance"></a></li>
    </div>
</article>